<!DOCTYPE html>
<html>
  <head>
    <title> Nelisa's Spaza-Shop </title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link href="css/main.css" type="text/css" rel="stylesheet">
</head>
<body>

    <nav>
      <div class="nav-wrapper grey darken-2">
        <a href="/" class="brand-logo">Nelisa's Spaza Shop</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="">Log In</a></li>
          <li><a href="">Sign Up</a></li>
        </ul>
      </div>
    </nav>

  <div class="container">
    {{{body}}}
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>

</html>
