<h1>Add Category</h1>

<form action="/categories/addCategory" method="POST">
	<div class="">
    <label>Category</label>
    <input type="text" name="category" value="{{data.category}}">
	</div>
	<input class="btn" type="submit" value="Add Category">
</form>
