<h1>Add user</h1>

<form action="/users/addUser" method="POST">
	<div>
		<label for="">Username</label>
		<input type="text" name="username" >

		<label for="">Email</label>
		<input type="text" name="email" >

    <label for="">Password</label>
		<input type="password" name="password" >

    <div class="switch" id="adminSwitch">
        <label>
          Regular User
          <input type="checkbox" name="adminSwitch">
          <span class="lever"></span>
          Admin
        </label>
      </div>

  </div>

	<!-- <div>
		<label for="">Amount</label>
		<input type="number" step="any" name="price" value="{{price}}">
	</div> -->

	<input type="submit" class="btn" value="Add User">
</form>
