<h1>Add user</h1>

<form action="/users/addUser" method="POST">
	<div class="">
		<!-- <label for="">Category</label> -->

    <!-- <select class="input-field" name="category_id"> -->
    <!-- </select> -->
    <!-- <label>Username</label> -->

	</div>

	<div>
		<label for="">Username</label>
		<input type="text" name="username" >

    <label for="">Password</label>
		<input type="password" name="password" >

    <div class="switch" id="adminSwitch">
        <label>
          Regular User
          <input type="checkbox" name="admin">
          <span class="lever"></span>
          Admin
        </label>
      </div>

  </div>

	<!-- <div>
		<label for="">Amount</label>
		<input type="number" step="any" name="price" value="{{price}}">
	</div> -->

	<input type="submit" value="Add User">
</form>
