<div class="row">
   <form action="/categories/CategorySearchResults/" method="POST">
       <div class="input-field col s12">
           <i class="material-icons prefix">search</i>
           <input id="search_bar" type="text" class="validate" name="searchBox">
           <label for="search_bar">Search</label>
       </div>
   </form>
</div>
<ul class="row list">

  <li class="col s12 head">Category</li>
        {{#categories}}
          <li class="col s12 dbList"> {{category}}</li>
        {{/categories}}
    </ul>
