<div class="row">
   <form action="/categories/CategorySearchResults/" method="POST">
       <div class="input-field col s12">
           <i class="material-icons prefix">search</i>
           <input id="search_bar" type="text" class="validate" name="searchBox">
           <label for="search_bar">Search</label>
       </div>
   </form>
</div>
<ul class="row list">
  <li class="col s10 head">Category</li>
  <a href="categories/addCategory"><li class="btn col s2 buttons">  <i class="material-icons">library_add</i></li></a>
        {{#categories}}
          <li class="col s10 dbList"> {{category}}</li>
          <a href="/categories/editCategory/{{id}}" class="btn col s1 buttons"> <i  class="material-icons">mode_edit</i></a>
          <a href="/categories/delete/{{id}}" class="btn col s1 buttons"><i class="material-icons">delete</i></a>
        {{/categories}}
    </ul>
