
<h1>Edit Category</h1>
<form action="/categories/update/{{data.id}}" method="POST">

	<div class="">
		<label for="category">Category</label>
		    <input type="text" name="category" value="{{data.category}}">
	</div>
	<input  class= "btn"type="submit" value="Edit Category">
</form>
