
<h1>Edit users</h1>

<form action="/users/update/{{data.id}}" method="POST">
  <div>
		<input type="text" name="username" value="{{data.username}}" >


    <div class="switch" id="adminSwitch">
        <label>
          Regular User
          <input type="checkbox" name="admin">
          <span class="lever"></span>
          Admin
        </label>
      </div>

  </div>
	<input type="submit" value="Edit User">
</form>
