<!DOCTYPE html>
<html>
  <head>
    <title> Home </title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link href="css/main.css" type="text/css" rel="stylesheet">
</head>
<body>


<div id="heading">
<h1> Welcome to Nelisa's Spaza Shop</h1>
<div>
This portal to Nelisa's Spaza Shop will allow you to view the products that Nelisa has for sale.
</div>



<h3>Created by: Paul Robertson</h3>
<div>
<ul>
<li>NodeJS</li>
<li>Mocha - Tests</li>
<li>Express - Web Server</li>
<li>Handlebars - Templating</li>
<li>Express-Session - Login Functionality</li>
<li>bcrypt - Password Encryption</li>
<li>mySql - Database</li>
<li>jQuery/Ajax - SearchBars</li>
<li>Materialize - FrontEnd Framework</li>
</ul>
<div>GitHub Repository: <a href="https://github.com/danger12001/Spaza-Shop-2.0">Spaza-Shop-2.0</a></div>
</div>
</div>


<!-- <a href="/sales"><div class="btn" >Sales</div></a> -->
<script href="routes/materialize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>

</html>
