

<ul class="row list">
  <li class="col s6 head">Product</li>
  <li class="col s6 head">Category</li>

{{#search}}
<li class="col s6 dbList"> {{product}}</li>
<li class="col s6 dbList"> {{category}}</li>

{{/search}}

</ul>
