

<ul id="list" class="row list">

  <div class="row">
    <form action="/products/search/">
      <div class="input-field col s12">
          <i class="material-icons prefix">search</i>
          <input id="search_bar" type="text" class="validate" name="search_val">
          <label for="search_bar">Search</label>
      </div>
  </form>
 </div>

  <li class="col s5 head">Product</li>
  <li class="col s5 head">Category</li>


  <a href="products/add"><li class="btn col s2 buttons"> <i class="material-icons">library_add</i></li></a>
        {{#products}}
          <li class="col s5 dbList"> {{product}}</li>
          <li class="col s5 dbList"> {{category}}</li>
          <a href="/products/edit/{{id}}" class="btn col s1 buttons"><i  class="material-icons">mode_edit</i></a>
          <a href="/products/delete/{{id}}" class="btn col s1 buttons"><i class="material-icons">delete</i></a>
        {{/products}}
    </ul>
    <ul id="searchDisplay"></ul>
    <script>

    // var myConnection = require('express-myconnection');
    // var bodyParser = require('body-parser');
    // var session = require('express-session');

    // $.get('/products', function(req, res, next){
    //   req.getConnection(function(err, connection) {
    //     var dbOptions = {
    //         host: '127.0.0.1',
    //         user: 'root',
    //         password: '5550121a',
    //         port: 3306,
    //         database: "Nelisa"
    //     };
    //     connection = mysql.createConnection(dbOptions);
    //     if (err) return next(err);
    //   connection.query('SELECT products.id, products.product, categories.category FROM products INNER JOIN categories ON products.category_id = categories.id WHERE products.product LIKE ? OR categories.category LIKE ?', [searchBox, searchBox], function(err, results) {
    //     if (err) return next(err);
    //     res.render("products", {
    //         products: data,
    //         admin: req.session.admintab, user: req.session.username
    //     });
    //  });

  //    $('#productsSearch').submit( function(event){
   //
  //  // Stop the form from submitting normally
  //  event.preventDefault();
   //
  //  // Get the search term from the DOM
  //  var theSearchTerm = $('#search_bar').val();
   //
  //  // use jQuery to POST the data to the /search URL
// });
// });
// });
</script>
   <script>
// Attach a submit handler to the form
$(document).ready(function() {
       $("#search_bar").keyup(function(event) {
           var searchValue = $("#search_bar").val();
           $.get("/products/search/" + searchValue, function(results) {
               $('#product_search').html(results);
           });
       });

});


    </script>
