
<ul class="row list">

  <li class="col s5 head">Product</li>
  <li class="col s6 head">Category</li>

  <li class="col s1 head">Item: {{search}}</li>
{{#search}}
<li class="col s5 dbList">{{product}}</li>
<li class="col s6 dbList">{{category}}</li>
{{/search}}
</ul>
