

<ul class="row list">
  <li class="col s12 header">Product</li>

  <!-- <li class="col s1 head">Item: {{searchBox}}</li> -->
{{#search}}
<li class="col s6 ">{{product}}</li>
<li class="col s6 ">{{category}}</li>
{{/search}}

</ul>
